@model Project.Models.StaffNotice

@{
    ViewBag.Title = "Add notice";
   // Layout = null;
}
    @Styles.Render("~/Content/notcss.css")

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="content-w3ls">
                    <h1 class="agile-head text-center">Notices</h1>
                    <div class="form-w3layouts">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                      
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "header" } })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-dangerr" })
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Notice, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Notice, new { htmlAttributes = new { @class = "enquiry" } })
                                @Html.ValidationMessageFor(model => model.Notice, "", new { @class = "text-dangerr" })
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="form-group w3ls-end">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="register" value="Submit" />
                                <input type="reset" class="reset" value="Reset">
                            </div>
                            <div>
                                <button class="btn back">  @Html.ActionLink("Back to List", "Index", "",new { @class = "ActionLink" })</button>
                            </div>

                        </div>

                    </div>

                </div>

            }
   
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
