@model IEnumerable<Project.Models.Exam2>

@{
    ViewBag.Title = "ViewList";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span><br /></span>
<h2 class="text-center">Uploaded Files</h2>
@Html.ActionLink("Export to PDF", "Reports")

<table class=" table table-bordered table-striped table-responsive-sm table-hover">

    <tr>

        <th>@Html.DisplayNameFor(model => model.ExamID)</th>
        <th>@Html.DisplayNameFor(model => model.Subject)</th>
        <th>@Html.DisplayNameFor(model => model.Grade)</th>
        <th>@Html.DisplayNameFor(model => model.TeacherName)</th>
        <th>@Html.DisplayNameFor(model => model.FilePath)</th>
        <th>@Html.DisplayNameFor(model => model.FileName)</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {

        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamID)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                <td>@Html.DisplayFor(modelItem => item.TeacherName)</td>
                <td>@Html.DisplayFor(modelItem => item.FilePath)</td>
                <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExamID }, new { @class = "btn btn-success fa fa-edit" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExamID }, new { @class = "btn btn-danger fa fas-trash-alt" })
                    
                </td>
            </tr>
        }

    </table>
