@model Project.Models.Timetable

@{
    ViewBag.Title = "EditTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Class Details</h1>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel=" stylesheet" href="~/Content/bootstrap.css">
    <link rel=" stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="font-size:15px">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Subject, ViewBag.Subjects as SelectList, "Select Grade", new { htmlAttributes = new { @class = "form-control col-md-10" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Grade, ViewBag.Grades as SelectList, "Select Grade", new { htmlAttributes = new { @class = "form-control col-md-10" } })
            @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TeacherName, ViewBag.teacherlist as SelectList, "Select Teacher", new { htmlAttributes = new { @class = "form-control col-md-10" } })
            @Html.ValidationMessageFor(model => model.TeacherName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hall, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Hall", new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "H1", Value ="H1"},
                        new SelectListItem{ Text = "H2", Value ="H2"},
                         new SelectListItem{ Text = "H3", Value ="H3"}
                    }, "Select Hall", new { htmlAttributes = new { @class = "dropdown dropdown-menu" } })
            @Html.ValidationMessageFor(model => model.Hall, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Day", new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "Monday", Value ="Mon"},
                        new SelectListItem{ Text = "Tuesday", Value ="Tue"},
                         new SelectListItem{ Text = "Wednesday", Value ="Wed"},
                          new SelectListItem{ Text = "Thursday", Value ="Thu"},
                           new SelectListItem{ Text = "Friday", Value ="Fri"},
                            new SelectListItem{ Text = "Saturday", Value ="Sat"},
                             new SelectListItem{ Text = "Sunday", Value ="Sun"}

                    }, "Select Day", new { htmlAttributes = new { @class = "dropdown dropdown-menu" } })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SAVE CHANGES" class="btn btn-default" style="font-size:15px" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "TimetableList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
